{% extends 'shared/base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Library</title>
  </head>

  {% block content %}
  <body>
    <h1>{{ library.title }} is a Library.</h1>
    <h2>Its Address is as follows:<br> {{library.address}} </h2>
    <form action="{% url 'libraryapp:library' library.id %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="actual_method" value="DELETE">
        <button>Delete</button>
    </form>
  </body>
  {% endblock %}

</html>